# dependencies

node_modules
.pnp
.pnp.js

# production

dist
build

# logs

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime data

pids
*.pid
*.seed
*.pid.lock

# cache

.cache
.vite
.eslintcache

# environment variables

!.env.example

# TypeScript

*.tsbuildinfo

# IDE / editor

.vscode/
.idea/
*.swp
*.swo

# OS files

.DS_Store
Thumbs.db

# optional

coverage
storybook-static

# local configs

*.local
temp_auto_push.bat
temp_interactive_push.bat
config.bat
branch_structure.json
